<footer>
    <div class="container-fluid">
     <div class="row text-center">
      <div class="col-md-6">
       <!-- <hr class="light"> -->
       <h5>
        Contact Us
       </h5>
       <!-- <hr class="light"> -->
       <!--				<p>(+1) 123-456-7890</p>-->
       <p>
        fatemeh.fard@ubc.ca 
       </p>
       <p>
        1137 Alumni Ave (V1V 1V7)
       </p>
       <p>
        Kelowna, BC, Canada
       </p>
      </div>
      <div class="col-md-6">
       <!-- <hr class="light"> -->
       <h5>
        UBC Okanagan Campus
       </h5>
       <!-- <hr class="light"> -->
       <p>
        <a href="https://ok.ubc.ca/">
         Homepage
        </a>
       </p>
       <p>
        <a href="https://engineering.ok.ubc.ca/">
         School of Engineering
        </a>
       </p>
       <p>
        <a href="https://gradstudies.ok.ubc.ca/">
         College of Graduate Studies
        </a>
       </p>
       <p>
        <a href="https://ok.ubc.ca/about/maps-directions-tours/">
         Maps, Direction &amp; Tours
        </a>
       </p>
      </div>
      <div class="col-12">
       <hr class="light-100"/>
       <h5>
        ©FARDLAB-2023
       </h5>
      </div>
     </div>
    </div>
</footer>
