<header>
    <img class="logo" src="assets/UBC.png" alt="ubc logo">
    <nav>
        <ul>
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/members" routerLinkActive="active">Team</a></li>
            <li><a  routerLink="/research" routerLinkActive="active">Research</a></li>
            <li><a  routerLink="/projects" routerLinkActive="active">Projects</a></li>
            <li><a  routerLink="/login" routerLinkActive="active" class="login">login</a></li>
        </ul>
    </nav>

</header>