<!-- <header>
    <img class="logo" src="assets/UBC.png" alt="ubc logo">
    <nav>
        <ul>
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/members" routerLinkActive="active">Team</a></li>
            <li><a  routerLink="/research" routerLinkActive="active">Research</a></li>
            <li><a  routerLink="/projects" routerLinkActive="active">Projects</a></li>
            <li><a  *ngIf="!isLogin" routerLink="/login" routerLinkActive="active" class="login">login</a></li>
            <li><a  *ngIf="isLogin" (click)="logout()" routerLinkActive="active" class="login">logout</a></li>
        </ul>
    </nav>

</header> -->
  <!-- Navigation -->
  <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
     <a class="navbar-brand" href="#">
      <img alt="" id=lablogo src="assets/UBC.png"/>
     </a>
     <button class="navbar-toggler" data-target="#navbarResponsive" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon">
      </span>
     </button>
     <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
       <li class="nav-item">
        <a class="nav-link" routerLink="/home">
         Home
        </a>
       </li>
       <li class="nav-item">
        <a class="nav-link" routerLink="/members">
         Team
        </a>
       </li>
       <li class="nav-item">
        <a class="nav-link" routerLink="/research">
         Research
        </a>
       </li>
       <li class="nav-item">
        <a class="nav-link" routerLink="/publications" >
         Publications
        </a>
       </li>
       <!-- <li class="nav-item">
                     <a class="nav-link" href="collaboration.html">Collaboration</a>
                 </li> -->
       <li class="nav-item">
        <a class="nav-link" routerLink="/news">
         News
        </a>
       </li>
       <li class="nav-item">
        <a class="nav-link" routerLink="/prospective" >
         Prospective Students
        </a>
       </li>
       <li class="nav-item">
        <a class="nav-link" routerLink="/connect">
         Contact Us
        </a>
       </li>
      </ul>
     </div>
    </div>
   </nav>