

<div class="container">
    <div class="screen">
      <div class="screen__content">
        <div class="formCard">
          <form [formGroup]="NewsAddForm" (ngSubmit)="onSubmit()">
            <div class="body">
              <label>
                News Body:
                <textarea type="text" formControlName="body" name="body" placeholder="body" rows="10" cols="60"></textarea>
              </label>
            </div>
            <button type="submit">Submit</button>
          </form>
        </div>

        <div class="social-login">
          <div class="social-icons">
            <a href="#" class="social-login__icon fab fa-instagram"></a>
            <a href="#" class="social-login__icon fab fa-facebook"></a>
            <a href="#" class="social-login__icon fab fa-twitter"></a>
          </div>
        </div>
      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>		
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>		
    </div>
  </div>