body {
    font-family: Arial, sans-serif;
}

.header {
  background-image: url('assets/background.jpg');
  color: white;
  display: flex;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size:1.5rem;
  font-weight:600;
  height: 300px;
}

.supervisor-image {
    width: 200px;  /* Adjust this value to the desired size */
    border-radius: 50%; /* This makes the image circular */    
}

nav {
    width:100%;
    color: white;
    padding: 10px 0;
    margin-bottom: 90px;
    height:50px;

}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: space-between;
}

.about {
  box-shadow: 3px 6px 11px 2px #3b3737b8;
  background-color: aliceblue;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;

}

#supervisor {
    width: 40%;
}

#supervisor img {
    max-width: 100%;
    position: relative;
    top: -50px;
}



#lab-summary {
    width: 55%;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
