body {
    font-family: Arial, sans-serif;
}

.header {
  color: #151f3d;
  display: flex;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size:1.5rem;
  font-weight:600;
  height: 450px;
  opacity: 1;
  background-image: url('../assets/background.jpg');
width:100%;
}


.supervisor-info {
  opacity: 1;
 display:flex;
  border-radius: 102px;
  height: 203px;
  width: 50%;
  background: #f3f8fe;
}

.info {
  color: #151f3d;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bolder;
  align-items: stretch;
  justify-content: center;
  margin-left: 10%;
}

.icons {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  justify-content: space-between;
}
.supervisor-image {
  width: 200px;
  border-radius: 50%;
  position: relative;
  left:0;

}

nav {
    width:100%;
    color: #151f3d;
    padding: 10px 0;
    height:95px;

}
.logo {
    width: 300px;
}
nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
  color: #151f3d;
    text-decoration: none;
    font-weight:600;
}

main {
    display: flex;
    justify-content: space-between;
}

.about {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  margin-left: 24%;
  margin-top: 2%;

}

#supervisor {
    width: 40%;
}

#supervisor img {
    max-width: 100%;
    position: relative;
    top: -50px;
}



#lab-summary {
    width: 55%;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.icon {
  width: 1.8em;
  margin-right: 2px;
}
