<!DOCTYPE html>
<html>
<head>
    <title>Dr. Fatemeh Hendijani Fard's Lab</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
  <div class="">
    <div class="col-md-12">
      <div class="row header">
        Welcome to our lab

      </div>
      <div class="row">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img class="img-fluid supervisor-image" src="assets/supervisor.jpg" alt="Supervisor">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Tean</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Research</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Projects</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h2>About our Lab</h2>
          <p>
            Focus of our lab is on developing new techniques to employ language models for code related tasks
          </p>
        </div>
        <div class="col-md-4 about">
          <h2>About our Lab</h2>
          <p>
            Focus of our lab is on developing new techniques to employ language models for code related tasks
          </p>
        </div>

      </div>
    </div>
    
  </div> 
    
   
    <!--<footer class="footer bg-light py-3 text-center">
        <div class="container">
            <p>Copyright © 2023 Computer Science Research Lab</p>
        </div>
    </footer>-->
    <!-- Include Bootstrap JS and its dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
