<!-- 
<div class="container">

    <h1>Our Team</h1>
    <div class="card1">
        <img src="../../../assets/supervisor.jpg    " alt="">
        
        <div class="details">
            
            <div class="title">
                <h3>Fatemeh Hendijani Fard</h3>
            </div>
            <div class="role">
                <p>Supervisor</p>
            </div>
            <p class="summary">
                Dr. Fard is the supervisor of our lab. Her research interests
                include the application of language models for code
            </p>
            <div class="social-media">

            </div>
        </div>

    </div>
    <div class="card1">
        <img src="../../../assets/mohamad.jpg    " alt="">
        
        <div class="details">
            
            <div class="title">
                <h3>Mohamad Khajezade</h3>
            </div>
            <div class="role">
                <p>Ph.D. Candidate</p>
            </div>
            <p class="summary">
                Mohamad is interested in Large Language models and their 
                applications in code undrestanding
            </p>
            <div class="social-media">

            </div>
        </div>

    </div>
</div> -->

  <div class="team-large-header" id="large-header">
   <canvas id="demo-canvas">
   </canvas>
   <h1 class="main-title">
    OUR TEAM
   </h1>
   <div class="aftertoptitle">
    <!-- <h1 class="display-2">OUR TEAM</h1> -->
    <a class="changetoblock" href="#professors">
     <button class="btn btn-outline-light btn-lg" name="button" type="button">
      Professors
     </button>
    </a>
    <a class="changetoblock" href="#phd">
     <button class="btn btn-outline-light btn-lg" name="button" type="button">
      Ph.D. Students
     </button>
    </a>
    <a class="changetoblock" href="#master">
     <button class="btn btn-primary btn-lg" name="button" type="button">
      Master's Students
     </button>
    </a>
    <!-- <a class="changetoblock" href="#visiting"><button type="button" class="btn btn-primary btn-lg"name="button">Visiting Students</button></a> -->
    <a class="changetoblock" href="#alumni">
     <button class="btn btn-outline-light btn-lg" name="button" type="button">
      Alumni
     </button>
    </a>
   </div>
  </div>
  <hr class="my-4"/>
  <!--- team -->
  <!-- img height 150px -->
  <!--- professor Cards title-->
  <div class="container-fluid padding">
   <div class="row welcome text-center">
    <div class="col-12">
     <h1 class="display-4" id="current team">
      Current Team
     </h1>
    </div>
   </div>
  </div>
  <!--- professor Cards -->
  <!-- <div class="container-fluid padding">
   <div class="row welcome text-center">
    <div class="col-12">
     <h3 class="display-5" id="professors">
      Professors
     </h3>
    </div>
   </div>
  </div> -->
  <!-- <div class="container-fluid padding justify" name="Professor-cards">
   <div class="row padding">
    <div class="col-md-4">
     
    </div>

   </div>
  </div> -->
  <div *ngFor="let position of memberPositions">
            <div *ngFor="let member of members">
                <div *ngIf="member.category === position"><app-member [memeberInfo]="member"></app-member></div>
        </div>
   </div>
                

  <hr class="my-4"/>
  <!--- Fixed background -->
  <figure>
   <div class="fixed-wrap">
    <div class="banner-team" id="fixed">
     <div class="quote text-center">
      <h1 class="display-6">
      </h1>
      <p class="">
      </p>
     </div>
    </div>
   </div>
  </figure>
  <!--- Footer -->
   <div class="container-fluid">

   </div>