<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="app.component.css"> -->
    <title>New website</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <img class="logo" src="assets/UBC.png" alt="ubc logo">
            <nav>
                <ul>
                    <li><a href="#" routerLinkActive="active">Home</a></li>
                    <li><a routerLink="/members" routerLinkActive="active">Team</a></li>
                    <li><a  routerLink="/research" routerLinkActive="active">Research</a></li>
                    <li><a  routerLink="/projects" routerLinkActive="active">Projects</a></li>
                </ul>
            </nav>
        
        </header>

        <main>
            <div class="supervisior">
                <h1>Fatemeh Hendijani Fard</h1>
                <h2>Asistant Professor</h2>
                <h2>Computer Science, Data Science</h2>
                <div class="contact-icons">
                    <div class="location fig">
                        <img class="icon" src="assets/icons/location.png" alt="location">
                        <p>FIP 305</p>
                    </div>
                    <div class="phone fig">
                        <img class="icon" src="assets/icons/telephone.png" alt="phone">
                        <p>250.807.9607</p>
                    </div>
                    <div class="email fig">
                        <img class="icon" src="assets/icons/envelope.png" alt="email">
                        <p>fatemeh.fard.ubc.ca</p>
                    </div>
                </div>
            </div>
        </main>
        <div class="summary">
            <h1>About our Lab</h1>
            <p>Focus of our lab is on developing new techniques to employ language models for code related tasks</p>
        </div>
        <div class="news">
            <h1>News</h1>
            <p>
                Our emsejournal paper “Evaluating Pre-Trained Models for User Feedback Analysis in Software Engineering:
                 A Study on Classification of App-Reviews” is online.
            </p>
            <p>
                Our emsejournal paper “Evaluating Pre-Trained Models for User Feedback Analysis in Software Engineering: 
                A Study on Classification of App-Reviews” is online.
            </p>
        </div>
    </div>

</body>
</html>