<!-- <!DOCTYPE html>
<html lang="en"> -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="app.component.css"> -->
    <title>New website</title>
</head>

<!-- <body>
    <div class="wrapper">

        <main>
            <div class="supervisior">
                <h1>Fatemeh Hendijani Fard</h1>
                <h2>Asistant Professor</h2>
                <h2>Computer Science, Data Science</h2>
                <div class="contact-icons">
                    <div class="location fig">
                        <img class="icon" src="assets/icons/location.png" alt="location">
                        <p>FIP 305</p>
                    </div>
                    <div class="phone fig">
                        <img class="icon" src="assets/icons/telephone.png" alt="phone">
                        <p>250.807.9607</p>
                    </div>
                    <div class="email fig">
                        <img class="icon" src="assets/icons/envelope.png" alt="email">
                        <p>fatemeh.fard.ubc.ca</p>
                    </div>
                </div>
            </div>
        </main>
        <div class="summary">
            <h1 *ngIf="lab">{{lab!.title}}</h1>
            <p *ngIf="lab">{{lab.summary}}</p>
        </div>
        <div class="news">
            <h1 *ngIf="newCard">{{newCard!.title}}</h1>
            <p *ngFor="let newsItem of newsList">
                {{newsItem.body}}
            </p>
        </div>
    </div>

</body> -->
<div class="index-large-header" id="large-header">
    <canvas id="demo-canvas">
    </canvas>
    <h1 class="main-title">
     {{title}}
    </h1>
   </div>
   <!--- Jumbotron -->
   <div class="container-fluid">
    <div class="row Jumbotron">
     <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
      <!-- <i class="fas fa-desktop"></i> -->

        <h3 *ngIf="lab">{{lab!.title}}</h3>
        <p class="justify" *ngIf="lab">{{lab.summary}}</p>
     </div>
     <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
      <a href="research.html">
       <button class="btn btn-outline-secondary btn-lg" name="button" type="button">
        View More
       </button>
      </a>
     </div>
    </div>
   </div>
   <!-- <hr class="my-4"/> -->
   <!--- Two Column Section -->
   <div class="container-fluid padding">
    <div class="row text-center padding">
     <div class="col-xs-12 col-sm-12 col-md-4 col-md-margin1 custom-col">
      <!-- <i class="fas fa-book">
      </i> -->
      <img src="../../../assets/icons/book.png" width="100">
      <h3>
       Publications
      </h3>
      <p class="justify">
        {{publicationSummary}}
      </p>
     </div>
     <div class="col-sm-12 col-md-4 col-md-margin2 custom-col">
      <img src="../../../assets/icons/mail.png" alt="contact" width="95" >
      <!-- <i class="fas fa-phone">
      </i> -->
      <h3>
       Contact Us
      </h3>
      <p class="justify">   {{contactSummary}}   </p>
     </div>
    </div>
    <!-- <hr class="my-4"/> -->
   </div>
   <!--- Fixed background -->
   <!-- <figure>
    <div class="fixed-wrap">
     <div class="banner-index" id="fixed">
      <div class="quote text-center">
       <h1 class="display-6">
        STAY HUNGRY,
        <br/>
        STAY FOOLISH.
       </h1>
       <p class="">
       </p>
      </div>
     </div>
    </div>
   </figure> -->
   <!-- Parallax Section -->
   <!-- <section class="banner-index">
     <div class="padding parallaxblock">
         <h2 class="parallax">But man is not made for defeat. A man can be destroyed but not defeated.</h2>
         <p class="parallax_description">Ernest Hemingway</p>
     </div>
 </section> -->
   <!-- <hr class=""/> -->
   <!--- Connect -->
   <div class="container-fluid">
    <div class="row text-center">
     <!-- <div class="col-12">
             <h2>Connect</h2>
         </div> -->
     <div class="col-12 social">
      <a href="#">
       <!-- <i class="fab fa-facebook">
       </i> -->
       <img src="../../../assets/icons/twitter.png" width="60px">
      </a>
      <a href="https://twitter.com/m_khajezade">
       <!-- <i class="fab fa-twitter">
       </i> -->
       <img src="../../../assets/icons/linkedin.png" width="80px">
      </a>
      <a href="#">
        <img src="../../../assets/icons/github.png" width="80px">
       <!-- <i class="fab fa-google-plus-g">
       </i> -->
      </a>
      <!-- <a href="#">
       <i class="fab fa-youtube">
       </i>
      </a> -->
     </div>
    </div>
   </div>
   <!--- Footer -->

<!-- </html> -->